<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.smartdevelopers.smartfilebrowser">
    <uses-feature android:name="android.hardware.Camera"
        android:required="false"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:requestLegacyExternalStorage="true">
        <activity android:name=".acitivties.FileBrowserMainActivity"
            android:theme="@style/sfb_AppTheme"

            />
        <provider
            android:authorities="${applicationId}.provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/sfb_provider_paths"/>
        </provider>
    </application>

</manifest>